<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>New Chat</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <center>
        <div class="New">
    <form method="Post" action="http://localhost:3000/chats/<%=data._id%>?_method=PUT">
        <div class="Gap">
        <input type="text" value="<%= data.from %>" name="from"></div>
     <div class="Gap">  <input type="text" value="<%= data.to %>" name="to"></div> 
        <div class="Gap"> <textarea  rows="7" cols="20" name="msg"><%= data.msg %></textarea></div>
        <button>Edit</button>
    </form>
    </div>
    </center>
</body>
</html>