<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>New Chat</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <center>
        <div class="New">
    <form method="Post" action="http://localhost:3000/chats/new">
        <div class="Gap">
        <input type="text" placeholder="Sender Name" name="from"></div>
     <div class="Gap">  <input type="text" placeholder="Sending to" name="to"></div> 
        <div class="Gap"> <textarea placeholder="Enter message" rows="7" cols="20" name="msg"></textarea></div>
        <button>Send Message</button>
    </form>
    </div>
    </center>
</body>
</html>